<head>
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipes.css') }}">
</head>
<script src="static/js/recipes.js"></script>
{% extends 'base.html' %}  <!-- Extend the base template -->

{% block title %}Recipes{% endblock %}  <!-- Set the page title to "Recipes" -->

{% block content %}
    <h1>Recipes</h1>  <!-- Display a heading -->
    {% for recipe in recipes %}  <!-- Loop through the "recipes" passed in from the view function -->
        <div class="recipe-card">  <!-- Create a container for each recipe card -->
            <a href="{{ url_for('recipe', recipe_id=recipe.id) }}">  <!-- Link to the individual recipe page ("recipe.html") for that recipe -->
                <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}">  <!-- Display the recipe image and name within the link -->
                <h2>{{ recipe.name }}</h2>
            </a>
        </div>
    {% endfor %}
{% endblock %}

